<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Loser Pool</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/submission">Submit</a></li>
      <li class="active"><a href="/standings">Standings</a></li>
      <li><a href="/past">Past Champions</a></li>
    </ul>
  </div>
</nav>
<head>
    <title>Standings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Standings</h1>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Week 1</th>
				<th>Week 2</th>
				<th>Week 3</th>
				<th>Week 4</th>
                                <th>Week 5</th>
				<th>Week 6</th>
				<th>Week 7</th>
				<th>Week 8</th>
				<th>Week 9</th>
				<th>Week 10</th>
				<th>Week 11</th>
				<th>Week 12</th>
				<th>Week 13</th>
				<th>Week 14</th>
				<th>Total Correct</th>
			</tr>
		</thead>
		<tr th:each="standing : ${standings}">
			<td th:text="${standing.user.name}"></td>
			<td th:each="pick : ${standing.picks}">
				<span th:text="${pick}"></span>
			</td>
			<td th:text="${standing.wins}"></td>
		</tr>
	</table>
	<p><a href="/submission">Make a Pick</a></p>
</body>
</html>
