<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Loser Pool</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/submission">Submit</a></li>
      <li><a href="/standings">Standings</a></li>
      <li><a href="/past">Past Champions</a></li>
    </ul>
  </div>
</nav>
<head>
    <title>Standings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Standings</h1>
	<table>
		<tr th:each="row : ${rows}">
			<td th:text="${row.name}"></td>
			<td th:each="team : ${row.teams}">
				<span th:text="${team}"></span>
			</td>
			<td th:text="${row.points}"></td>
		</tr>
	</table>
	<p><a href="/submission">Make a Pick</a></p>
</body>
</html>
