<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submit your picks here</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Submit your picks here</h1>
    <form method="post" th:object="${pick}">
    	<p>Name <input type="text" th:field="*{name}" /></p>
        <p>Losing Team for Week 13 <input type="text" th:field="*{team}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <p><a href="/standings">Standings</a></p>
</body>
</html>
