<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Loser Pool</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/submission">Submit</a></li>
      <li><a href="/standings">Standings</a></li>
      <li><a href="/past">Past Champions</a></li>
    </ul>
  </div>
</nav>
<head>
    <title>Submit your picks here</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
	<h1>Submit your picks here</h1>
	    <form method="post" th:object="${pick}">
		<p>Name <input type="text" th:field="*{name}" />
		Email <input type="text" th:field="*{email}" /></p>
		<p>Losing Team <input type="text" th:field="*{team}" /></p>
		<p>Week: <select th:field="*{week}">
			<option th:value="'1'" th:text="1"></option>
			<option th:value="'2'" th:text="2"></option>
			<option th:value="'3'" th:text="3"></option>
			<option th:value="'4'" th:text="4"></option>
			<option th:value="'5'" th:text="5"></option>
			<option th:value="'6'" th:text="6"></option>
			<option th:value="'7'" th:text="7"></option>
			<option th:value="'8'" th:text="8"></option>
			<option th:value="'9'" th:text="9"></option>
			<option th:value="'10'" th:text="10"></option>
			<option th:value="'11'" th:text="11"></option>
			<option th:value="'12'" th:text="12"></option>
			<option th:value="'13'" th:text="13"></option>
			<option th:value="'14'" th:text="14"></option>
			<option th:value="'15'" th:text="15"></option>
			<option th:value="'16'" th:text="16"></option>
			<option th:value="'17'" th:text="17"></option>
			</select></p>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	    </form>
     </div>
</body>
</html>
